# Node.js modules
node_modules/

# Logs
*.log

# Dependency directories
jspm_packages/
bower_components/

# Build output
build/
coverage/

# Environment files
.env
.env.local
.env.*.local

# npm package-lock
package-lock.json
yarn.lock

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS Finder metadata
.DS_Store

# Linux trash folder
.Trash-*

# Windows system files
Thumbs.db
Desktop.ini

.parcel-cache

_site
.sass-cache
.jekyll-cache
*.gem
.bundle
vendor/bundle
